:root {
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

@font-face {
    src: url('./font/OpenSans.ttf');
    font-family: 'Open Sans';
}