:root {
    font-size: 16px;

    --brand-colour: #365d80;
    --brand-colour-dark: #1d2e43;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

@font-face {
    src: url('./font/OpenSans.ttf');
    font-family: 'Open Sans';
}

header {
    background-color: var(--brand-colour);
    padding: 1.5rem 3rem;
    color: #fff;
    display: flex;
    align-items: center;

    #logo-box {
        display: flex;
        align-items: center;
        gap: .6rem;

        #logo {
            fill: white;
            height: 50px;
        }

        #logotype {
            font-size: 1.7rem;
            margin-top: .3rem;
        }
    }

    #unit-switch {
        border: none;
        padding: .5rem 1rem;
        margin-left: auto;
        border-radius: .2rem;
        background-color: var(--brand-colour-dark);
        color: #fff;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: var(--brand-colour);
        }
    }
}

#content {
    background-color: #eee;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loading {
    padding: 3rem;
    background-color: deeppink;
    width: 50%;
    margin-top: 1rem;
}